.stepper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 7rem;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a0aec0;
  position: relative;
  z-index: 1;
}

.step-counter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #a0aec0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.step-name {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.stepper-line {
  flex-grow: 1;
  height: 2px;
  background-color: #a0aec0;
  margin-bottom: 2.2rem;
}

.stepper-item.active .step-counter {
  border-color: #3182ce;
  background-color: #3182ce;
  color: #fff;
  font-size: 1.2rem;
}

.stepper-item.active .step-name {
  color: #3182ce;
  font-weight: 600;
}

.stepper-item.completed .step-counter {
  border-color: #31a24c;
  background-color: #31a24c;
  color: #fff;
  font-size: 1.2rem;
}

.stepper-item.completed .step-name {
  color: #333;
}

.stepper-item.completed + .stepper-line {
  background-color: #31a24c;
}
